@use "variables";
@use "mixin";

.theme-one {
  @include mixin.theme(
    variables.$button-operator-theme-one,
    variables.$button-digit-theme-one
  );
}

.theme-second {
  @include mixin.theme(
    variables.$button-operator-theme-second,
    variables.$button-digit-theme-second
  );
}
